@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Reset  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* Variables  */
:root {
  /* COLOR SYSTEM */
  --color-primary: #503217;
  --color-secondary: #7f6a55;
  --color-accent: #a1ced1;

  --color-bg-primary: #eeede7;
  --color-bg-secondary: #503217;
  --color-bg-accent: #a1ced1;

  --color-border: #877460;
  --color-light: #ffffff;
  --color-dark: #000000;

  /* TYPOGRAPHY */
  --font-primary: "EB Garamond", serif;
  --font-secondary: "Inter", sans-serif;
  --font-logo: "Lilita One", cursive;

  --text-base-size: 1rem;
  --text-small: 0.875rem;
  --text-large: 1.5rem;
  --text-xl: 2rem;

  /* SPACING & LAYOUT */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;

  --container-max-width: 1200px;

  /* BREAKPOINTS */
  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-laptop: 1024px;
  --bp-desktop: 1280px;
}

body {
  max-width: var(--container-max-width);
  min-height: 100dvh;
  margin: 0 auto;
  background-color: var(--color-bg-primary);
  line-height: 1.6;
  color: var(--color-primary);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacing-lg);
  position: relative;
}

.overflow-visible {
  overflow: visible;
}

.header__menu-bar {
  cursor: pointer;
  padding: var(--spacing-sm);
  margin-left: auto;
}

.nav {
  position: absolute;
  min-height: 99dvh;
  width: 18.75rem;
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-sm);
  grid-template-rows: 0.8fr 8fr 2fr;
  transform: translateX(-350px);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  background-color: var(--color-bg-primary);
  opacity: 0;
}

.show-navbar {
  transform: translateX(0px);
  opacity: 1;
}

.nav__header {
  padding: 0 var(--spacing-md);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  padding: var(--spacing-xs) var(--spacing-sm);
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: var(--text-large);
  font-weight: 500;
}

.nav__close-btn {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

.nav__close-btn.rotate {
  transform: rotateZ(360deg);
}

.nav__list {
  width: 100%;
  align-self: start;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-top: var(--spacing-md);
}

.nav__item {
  place-self: stretch;
  text-align: center;
  padding: var(--spacing-sm) var(--spacing-sm);
  cursor: pointer;
  font-family: var(--font-secondary);
  font-size: var(--text-base-size);
}

.nav__item:hover {
  background-color: #e9dfd6;
  font-weight: bold;
}

.nav__social-link {
  align-self: end;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: var(--spacing-lg) var(--spacing-sm);
}

.nav__social-icon {
  cursor: pointer;
}

@media (max-width: 748px) {
  .header {
    padding: 0;
  }

  .nav {
    width: 100%;
  }

  .header__menu-bar__icon {
    width: 25px;
    height: 25px;
  }

  .nav__header {
    padding: 0 var(--spacing-sm);
  }

  .nav__logo {
    padding-left: 0;
  }

  .nav__item {
    padding: var(--spacing-md) var(--spacing-sm);
  }
}
