@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Reset  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Variables  */
:root {
  /* COLOR SYSTEM */
  --color-primary: #503217;
  --color-secondary: #7f6a55;
  --color-accent: #a1ced1;

  --color-bg-primary: #e2e1d6;
  --color-bg-secondary: #503217;
  --color-bg-accent: #c4d9db;

  --color-border: #877460;
  --color-light: #ffffff;
  --color-dark: #000000;

  /* TYPOGRAPHY */
  --font-primary: "EB Garamond", serif;
  --font-secondary: "Inter", sans-serif;
  --font-accent: "SUSE Mono", sans-serif;
  --font-logo: "Lilita One", cursive;

  --text-base-size: 1rem;
  --text-small: 0.875rem;
  --text-large: 1.5rem;
  --text-xl: 2rem;

  /* SPACING & LAYOUT */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;

  --container-max-width: 1200px;

  /* BREAKPOINTS */
  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-laptop: 1024px;
  --bp-desktop: 1280px;
}

body {
  max-width: var(--container-max-width);
  min-height: 100dvh;
  margin: 0 auto;
  background-color: var(--color-bg-primary);
  line-height: 1.6;
  color: var(--color-primary);
  overflow: hidden;
}

.video-player {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.video-player__media {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
}

.video-player__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.video-player__title {
  color: var(--color-light);
  padding: var(--spacing-md);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--text-xl);
}

.video-player__controls {
  position: absolute;
  bottom: var(--spacing-xl);
  left: var(--spacing-xl);
  width: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
  background-color: var(--color-bg-accent);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.video-player__btn {
  padding: calc(var(--spacing-md) - var(--spacing-xs)) var(--spacing-sm);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: var(--text-base-size);
}

.active-btn {
  background-color: var(--color-light);
}

@media (max-width: 748px) {
  .video-player__btn {
    padding: var(--spacing-sm) var(--spacing-sm);
    font-size: var(--text-small);
  }
}
